<% @events.each do |event| %>

  <div class="row">
    <div class="three columns mobile-one">
      <%= image_tag event.image_url(:square) %>
    </div>
    <div class="eight columns mobile-two">
      <%= event.name %>
    </div>
    <div class="one columns mobile-one">
      <%= image_tag event.image %>
    </div>
  </div>

<% end %>

