<% @events.each do |event| %>

  <div class="row panel">
    <div class="three columns">
      <%= image_tag event.image_url(:thumb) %>
    </div>
    <div class="nine columns">
      <div class="row">
        <div class="twelve columns mobile-four dottify">
          <h3><%= event.name %></h3>
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          <h6><%= Venue.find(event.venue_id).name %></h6>
        </div>
        <div class="four columns">
          <h6><%= l event.start_dt, :format => :short %></h6>
        </div>
      </div>
    </div>
  </div>

<% end %>

